.list-avatar-page {
  ion-note {
    font-size: 11px;
  }
  .wrap{
    white-space:normal;
  }

  .avatar-margin{
    margin-top: 0 !important;
  }
}
.list-ios{
  margin-bottom: 0 !important;
}

.list-md{
  margin-bottom: 0 !important;
}
